.nav-main{
background-color:skyblue;
display:flex;
padding:5px;
align-items:center;
overflow:auto;
}
.nav-main ul{
display:flex;
justify-content:center;
list-style-type:none;
gap:15px;
margin:0;
padding:0;
flex-wrap:
}

.nav-div{
display:block;
background:red;
padding:10px;
border-radius:12px;
border:none;
color:white;
text-align:center;
text-decoration:none;
font-size:15px
cursor:pointer;
}